/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default:
Small:
Medium:
Paragraph default:

- Letter spacing
-0.5px1

--- 02 COLORS

- Buttons: transparent, stroke: FFFFFF
- Text-primary: #fff
- Background: #171617

- Text-tertiary: 
- Other components: 
- Shades:

- Accents:
- Greys:

- Font-family: Tekko, Archivo Black  -- fallback: sans-serif


--- 05 SHADOWS
box-shadow: 
text-shadow: (x,y) (8, 4), 30% blur: 4


--- 06 BORDER RADIUS
0px 9px 20ox

--- 07 WHITESPACE
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
